/**
 * Includes
 */
@import "rgbapng";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";

@import "CSS:skeleton/css/normalize";
@import "CSS:skeleton/css/skeleton";

// Fonts
$base-font-size: 15px;
$base-line-height: 24px;

html,
body {
    // @include debug-vertical-alignment();
}

// Import site
@import "blocks/dev";

.hidden {
    display: none;
}

.error {
    color: #F22;
}

[disabled] {
    opacity: 0.5;
}

.avatar {
    height: 48px;
    width: 48px;
    @include border-radius(24px);
}

.header {
    @include leader(1);

}

.user {
    text-align: right;
    line-height: 48px;

    &__name {

    }
}

.link--stealth {
    text-decoration: none;
    color: #222;
}

@include keyframes(throb) {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.throb {
    @include animation-name(throb);
    @include animation-duration(3000ms);
    @include animation-iteration-count(infinite);
    @include animation-timing-function(ease);
}
