.dev {
    &__banner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 30px;
        background-color: #444;
        @include background-image(linear-gradient(45deg, rgba(255, 255, 0, 0.8) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 0, 0.8) 50%, rgba(255, 255, 0, 0.8) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0)));
        @include background-size(50px 50px);
    }

    &__displace {
        height: 30px;
    }
}
